# Analytics - Loan Prediction

Predict Loan eligibility

In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
#Verificamos la cantidad de datos y los nulos
print 'Cantidad de datos: ',len(train)
print 'Nulos:'
print train.isnull().sum()

Cantidad de datos:  614
Nulos:
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
#Eliminar la columna Loan_ID
#train.drop(train.columns[0],axis=1,inplace=True)
#Verificamos los valores de Loan amount para llenar los nulls
print 'Loan Amount'
print 'Media\tMediana\tModa'
print train['LoanAmount'].mean(),train['LoanAmount'].median(),train['LoanAmount'].mode()

Loan Amount
Media	Mediana	Moda
146.412162162 128.0 0    120.0
dtype: float64

In [5]:
#Rellenamos los nulls con la mediana y mostramos en pantalla
train.LoanAmount.fillna(train.LoanAmount.median(), inplace=True)
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
#Verificamos los valores de Loan amount term para llenar los nulls
print 'Loan_Amount_Term'
print 'Valores:',train['Loan_Amount_Term'].unique()
print 'Media\tMediana\tModa'
print train['Loan_Amount_Term'].mean(),train['Loan_Amount_Term'].median(),train['Loan_Amount_Term'].mode()

Loan_Amount_Term
Valores: [ 360.  120.  240.   nan  180.   60.  300.  480.   36.   84.   12.]
Media	Mediana	Moda
342.0 360.0 0    360.0
dtype: float64

In [7]:
#Rellenamos los nulls con la moda y mostramos en pantalla
train.Loan_Amount_Term.fillna(train['Loan_Amount_Term'].median(), inplace=True)
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
#Verificamos los valores de Credit history term para llenar los nulls
print 'Credit_History'
print 'Valores: ',train['Credit_History'].unique()
print 'Media\t\tMediana\tModa'
print train['Credit_History'].mean(),train['Credit_History'].median(),train['Credit_History'].mode()

Credit_History
Valores:  [  1.   0.  nan]
Media		Mediana	Moda
0.84219858156 1.0 0    1.0
dtype: float64

In [9]:
#Rellenamos los nulls con la moda y mostramos en pantalla
train.Credit_History.fillna(train.Credit_History.median(), inplace=True)
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
#Verificamos los valores de Dependents para llenar los nulls
print 'Dependents'
print 'Valores: ',train['Dependents'].unique()
#Reemplazamos el valor 3+ por 4
train['Dependents'] = train.Dependents.map({'0':0, '1':1,'2':2,'3':3,'3+':4})
print train['Dependents'].mean(),train['Dependents'].median(),train['Dependents'].mode()

Dependents
Valores:  ['0' '1' '2' '3+' nan]
0.848080133556 0.0 0    0.0
dtype: float64

In [11]:
#Rellenamos los nulls con la moda y mostramos en pantalla
train.Dependents.fillna(train['Dependents'].median(), inplace=True)
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [12]:
#Corregimos Loan_Status
train['Loan_Status'] = train.Loan_Status.map({'N':0, 'Y':1})

#Evaluamos el atributo Gender, Married, Education y Self_Employed
print 'Gender'
train['Gender'] = train.Gender.map({'Male':0, 'Female':1})
print 'Valores: ',train['Gender'].unique()
print 'Moda:',train['Gender'].mode()

print 'Married'
train['Married'] = train.Married.map({'No':0, 'Yes':1})
print 'Valores: ',train['Married'].unique()
print 'Moda:',train['Married'].mode()

print 'Education'
train['Education'] = train.Education.map({'Not Graduate':0, 'Graduate':1})
print 'Valores: ',train['Education'].unique()
print 'Education',train['Education'].mode()

print 'Self_Employed'
train['Self_Employed'] = train.Self_Employed.map({'No':0, 'Yes':1})
print 'Valores: ',train['Self_Employed'].unique()
print 'Self_Employed',train['Self_Employed'].mode()

Gender
Valores:  [  0.   1.  nan]
Moda: 0    0.0
dtype: float64
Married
Valores:  [  0.   1.  nan]
Moda: 0    1.0
dtype: float64
Education
Valores:  [1 0]
Education 0    1
dtype: int64
Self_Employed
Valores:  [  0.   1.  nan]
Self_Employed 0    0.0
dtype: float64

In [13]:
#Rellenamos los nulls con la moda y mostramos en pantalla
train.Gender.fillna(train['Gender'].median(), inplace=True)
train.Self_Employed.fillna(train['Self_Employed'].median(), inplace=True)
train.Married.fillna(train['Married'].median(), inplace=True)
train.Education.fillna(train['Education'].median(), inplace=True)
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,0.0,0.0,1,0.0,5849,0.0,128.0,360.0,1.0,Urban,1
1,LP001003,0.0,1.0,1.0,1,0.0,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,0.0,1.0,0.0,1,1.0,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,0.0,1.0,0.0,0,0.0,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,0.0,0.0,0.0,1,0.0,6000,0.0,141.0,360.0,1.0,Urban,1

In [14]:
#Podemos generar nuevas columnas
print 'Valores: ',train['Property_Area'].unique()
prop_dummies = pd.get_dummies(train.Property_Area,prefix='prop')
prop_dummies.head()

Valores:  ['Urban' 'Rural' 'Semiurban']

   prop_Rural  prop_Semiurban  prop_Urban
0           0               0           1
1           1               0           0
2           0               0           1
3           0               0           1
4           0               0           1

In [15]:
prop_dummies.drop(prop_dummies.columns[0], axis=1, inplace=True)
train = pd.concat([train, prop_dummies], axis=1)

In [16]:
#Verificamos que ya no tenemos nulls
print train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
prop_Semiurban       0
prop_Urban           0
dtype: int64

# Modelo Predictivo

In [17]:
#Separación de data / Definición de dominio

features=['Gender','Married','Dependents',#'Education',
          'ApplicantIncome','CoapplicantIncome',
          #Property_Area,
          #'prop_Semiurban','prop_Urban',
          'Self_Employed','LoanAmount',#'Loan_Amount_Term',
          'Credit_History']
X = train[features]
y = train.Loan_Status

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [18]:
#Modelo 1: Regresion logistica

# train a logistic regression model
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e9)
logreg.fit(X_train, y_train)

# make predictions for testing set
y_pred_class = logreg.predict(X_test)

# calculate testing accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

0.772727272727

In [19]:
# Tabla de aplicacion de diversos algoritmos
# extraido de http://ataspinar.com/2017/05/26/classification-with-scikit-learn/

import time
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
dict_classifiers = {
    "Logistic Regression": LogisticRegression(),
    "Nearest Neighbors": KNeighborsClassifier(),
    "Linear SVM": SVC(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(),
    "Decision Tree": tree.DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(n_estimators = 18),
    "Neural Net": MLPClassifier(alpha = 1),
    "Naive Bayes": GaussianNB()
}
no_classifiers = len(dict_classifiers.keys())
 
def batch_classify(X_train, Y_train, X_test, Y_test, verbose = True):
    df_results = pd.DataFrame(data=np.zeros(shape=(no_classifiers,4)), columns = ['classifier', 'train_score', 'test_score', 'training_time'])
    count = 0
    for key, classifier in dict_classifiers.items():
        t_start = time.clock()
        classifier.fit(X_train, Y_train)
        t_end = time.clock()
        t_diff = t_end - t_start
        train_score = classifier.score(X_train, Y_train)
        test_score = classifier.score(X_test, Y_test)
        df_results.loc[count,'classifier'] = key
        df_results.loc[count,'train_score'] = train_score
        df_results.loc[count,'test_score'] = test_score
        df_results.loc[count,'training_time'] = t_diff
        if verbose:
            print("trained {c} in {f:.2f} s".format(c=key, f=t_diff))
        count+=1
    return df_results

In [20]:
df_results = batch_classify(X_train, y_train, X_test, y_test)
display(df_results.sort_values(by='test_score', ascending=False))

trained Gradient Boosting Classifier in 0.05 s
trained Neural Net in 0.12 s
trained Logistic Regression in 0.01 s
trained Decision Tree in 0.01 s
trained Naive Bayes in 0.00 s
trained Linear SVM in 0.09 s
trained Nearest Neighbors in 0.00 s
trained Random Forest in 0.04 s

                     classifier  train_score  test_score  training_time
4                   Naive Bayes     0.808696    0.772727       0.001936
7                 Random Forest     0.997826    0.766234       0.040826
2           Logistic Regression     0.821739    0.759740       0.009312
0  Gradient Boosting Classifier     0.902174    0.753247       0.053111
3                 Decision Tree     1.000000    0.733766       0.007552
5                    Linear SVM     1.000000    0.675325       0.088935
1                    Neural Net     0.641304    0.636364       0.123445
6             Nearest Neighbors     0.715217    0.636364       0.000944

# Aplicación del modelo en data solicitada

In [21]:
#Repetimos para la data de Test
test = pd.read_csv('test.csv')
#test.drop(test.columns[0],axis=1,inplace=True)
test.head()
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [22]:
#Rellenamos analogamente los nulls
test.LoanAmount.fillna(test.LoanAmount.median(), inplace=True)
test.Loan_Amount_Term.fillna(test['Loan_Amount_Term'].median(), inplace=True)
test.Credit_History.fillna(test.Credit_History.median(), inplace=True)

test['Dependents'] = test.Dependents.map({'0':0, '1':1,'2':2,'3':3,'3+':4})
test.Dependents.fillna(test['Dependents'].median(), inplace=True)

test['Gender'] = test.Gender.map({'Male':0, 'Female':1})
test.Gender.fillna(test['Gender'].median(), inplace=True)

test['Married'] = test.Married.map({'No':0, 'Yes':1})
test.Married.fillna(test['Married'].median(), inplace=True)

test['Education'] = test.Education.map({'Not Graduate':0, 'Graduate':1})
test.Education.fillna(test['Education'].median(), inplace=True)

test['Self_Employed'] = test.Self_Employed.map({'No':0, 'Yes':1})
test.Self_Employed.fillna(test['Self_Employed'].median(), inplace=True)

print test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [23]:
# Generamos la data dummy
prop_dummies = pd.get_dummies(test.Property_Area,prefix='prop')
prop_dummies.drop(prop_dummies.columns[0], axis=1, inplace=True)
test = pd.concat([test, prop_dummies], axis=1)
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,prop_Semiurban,prop_Urban
0,LP001015,0.0,1,0.0,1,0.0,5720,0,110.0,360.0,1.0,Urban,0,1
1,LP001022,0.0,1,1.0,1,0.0,3076,1500,126.0,360.0,1.0,Urban,0,1
2,LP001031,0.0,1,2.0,1,0.0,5000,1800,208.0,360.0,1.0,Urban,0,1
3,LP001035,0.0,1,2.0,1,0.0,2340,2546,100.0,360.0,1.0,Urban,0,1
4,LP001051,0.0,0,0.0,0,0.0,3276,0,78.0,360.0,1.0,Urban,0,1

In [25]:
#test[features].tail()
predictions = logreg.predict(test[features])
submission = pd.DataFrame({ 'Loan_ID': test['Loan_ID'],
                            'Loan_Status': predictions })
submission.to_csv("Loan_submission.csv", index=False)